<header class="w-full flex items-center p-6">
  <div class="flex-1 flex justify-start items-center">
    {% if include.type == "Page" %}
      <p class="hidden md:block text-gray-600">
        <a href="/" class="underline text-blue-500">Home</a>
        &nbsp;&gt;&nbsp;
        <p class="hidden md:block text-gray-600">{{ page.title }}</p>
      </p>
    {% elsif include.type == "Category" %}
      {%- if include.name -%}
        <p class="hidden md:block text-gray-600">
          <a href="/categories" class="underline text-blue-500">Categories</a>
          {% assign root = include.path | split: '/' %}
          {% assign slug = "/categories" %}
          {%- for category in root -%}
            {% assign slug = slug | append: '/' | append: category %}
            &gt;
            <a href="{{ slug }}" class="underline text-blue-500">{{ category }}</a>
          {%- endfor -%}
          &nbsp;&gt;&nbsp;
          <p class="hidden md:block text-gray-600">{{ include.name }}</p>
        </p>
      {%- else -%}
        <p class="hidden md:block text-gray-600">Categories</p>
      {%- endif -%}
    {% else %}
      <p class="hidden md:block text-gray-600">{{ include.type }}</p>
    {% endif %}
    <i class="fa-solid fa-bars block md:hidden w-5 h-5 cursor-pointer" id="sidebar-toggle"></i>
  </div>
  <div class="flex-1 flex justify-center items-center md:hidden">
    {{ site.name }}
  </div>
  <div class="flex-1 flex justify-end items-center">
    {% include search.html %}
  </div>
</header>