<div class="relative">
  <label for="search" class="sr-only mb-2 text-sm font-medium text-gray-900">Search</label>
  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
    <i class="fa-solid fa-magnifying-glass w-4 h-4 text-gray-500"></i>
  </div>
  <input
    id="search"
    type="text"
    placeholder="Search posts"
    class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 focus:outline-none" />
</div>