---
layout: page
---

{% include header.html type = "Category" path = page.category_path name=page.category_name %}
<div class="p-6">
  <div class="flex justify-between items-end">
    <h2 class="flex items-center text-4xl font-semibold ml-1">
      {% if page.category_name %}
        <i class="fa-regular fa-folder-open w-6 h-6 mr-3 block"></i>
        <p>{{ page.category_name }}</p>
      {% else %}
        <i class="fa-regular fa-folder w-6 h-6 mr-3 block"></i>
        <p>Categories</p>
      {% endif %}
    </h2>
    {% assign category_count = page.category_categories | size %}
    {% assign note_count = page.category_notes | size %}

    {% if category_count < 2 %}
      {% assign category_label = "category" %}
    {% else %}
      {% assign category_label = "categories" %}
    {% endif %}

    {% if note_count < 2 %}
      {% assign note_label = "note" %}
    {% else %}
      {% assign note_label = "notes" %}
    {% endif %}

    <p class="text-gray-400">{{ category_count }} {{ category_label }} and {{ note_count }} {{ note_label }}</p>
  </div>

  <div class="mt-6">

    {% for category in page.category_categories %}
      {% if category == page.category_categories[0] %}
        {% assign border = "rounded-t-lg" %}
      {% endif %}
      {% if category == page.category_categories[-1] and note_count == 0 %}
        {% assign border = border | append: " rounded-b-lg" %}
      {% endif %}
      <a href="{{ category }}" class="flex items-center p-3 border {{ border }}">
        <i class="fa-regular fa-folder w-4 h-4 mr-3 block"></i>
        <p>{{ category }}</p>
      </a>
    {% endfor %}

    {% assign border = "" %}

    {% for note in page.category_notes %}
      {% if note == page.category_notes[0] and category_count == 0 %}
        {% assign border = "rounded-t-lg" %}
      {% endif %}
      {% if note == page.category_notes[-1] %}
        {% assign border = border | append: " rounded-b-lg" %}
      {% endif %}
      <a href="/posts/{{ note | split: ' ' | join: '-' | downcase }}/" class="flex items-center p-3 bg-gray-50 border {{ border }}">
        <i class="fa-regular fa-file w-4 h-4 mr-3 block"></i>
        <p>{{ note }}</p>
      </a>
    {% endfor %}
  </div>
</div>