---
layout: page
---

{% include header.html type = "Home" %}
<div class="px-6">
  {% assign notes = site.notes | sort: 'date' | reverse %}
  {% for note in notes %}
    {% assign url = note.url %}
    <a href="{{ url }}" class="block mt-3 border border-gray-200 rounded-md p-6 hover:bg-gray-200">
      <h2 class="text-xl font-semibold">{{ note.title }}</h2>
      <p class="mt-2 leading-normal line-clamp-2 text-gray-400">
        {{ note.content | strip_html | truncatewords: 100 }}
      </p>
      <div class="flex items-center mt-3">
        <div class="flex shrink-0 w-[120px] items-center">
          <i class="fa-regular fa-calendar w-3 h-3 text-gray-400 block"></i>
          <p class="ml-2 text-sm text-gray-400">
            {{ note.date | date: "%B %-d, %Y" }}
          </p>
        </div>
        {% if note.categories.size > 0 %}
          <div class="flex flex-1 items-center overflow-hidden">
            <i class="fa-regular fa-folder-open w-3 h-3 ml-4 text-gray-400 block shrink-0"></i>
            <p class="shrink ml-2 text-sm text-gray-400 overflow-hidden text-ellipsis whitespace-nowrap">
              {{ note.categories | join: " > " }}
            </p>
          </div>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>